*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.menu{
  background-image: url(./images/2.jpeg);
}
.menu li{
  cursor: pointer;
}
.menu li:hover{
  color:blue
}
.img{
  display: block;
  width: 200px;
  height: 150px;
  margin: 0 auto;
}
